#!/usr/bin/make -f
# This file is part of OpenPanel - The Open Source Control Panel
# OpenPanel is free software: you can redistribute it and/or modify it 
# under the terms of the GNU General Public License as published by the Free 
# Software Foundation, using version 3 of the License.
#
# Please note that use of the OpenPanel trademark may be subject to additional 
# restrictions. For more information, please visit the Legal Information 
# section of the OpenPanel website on http://www.openpanel.com/



BUILD_ROOT=$(CURDIR)/debian/tmp
install:
	rm -rf ${BUILD_ROOT}
	mkdir -p ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module
	mkdir -p ${BUILD_ROOT}/var/openpanel/http/keepalived/
	cp http/* ${BUILD_ROOT}/var/openpanel/http/keepalived/
	mkdir -p ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/html
	cp html/* ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/html/
	install -m 755 action ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/action
	cp module.xml ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/module.xml
	cp *.png ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/
	install -m 755 verify ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/verify
	install -m 755 localfunctions.sh ${BUILD_ROOT}/var/openpanel/modules/Keepalived.module/localfunctions.sh
	mkdir -p ${BUILD_ROOT}/usr/sbin/
	install -m 755 bin/fetch_master_settings ${BUILD_ROOT}/usr/sbin/fetch_master_settings
	mkdir -p ${BUILD_ROOT}/var/openpanel/tools/
	install -m 755 tools/keepalived-disable-gw-nat ${BUILD_ROOT}/var/openpanel/tools/keepalived-disable-gw-nat
	install -m 755 tools/keepalived-enable-gw-nat ${BUILD_ROOT}/var/openpanel/tools/keepalived-enable-gw-nat
	install -m 755 tools/openpanel-keepalived-status ${BUILD_ROOT}/var/openpanel/tools/openpanel-keepalived-status
	mkdir -p ${BUILD_ROOT}/etc/init.d
	install -m 755 etc/init.d/keepalived-nat-gw ${BUILD_ROOT}/etc/init.d/keepalived-nat-gw
	mkdir -p ${BUILD_ROOT}/etc/cron.d
	install -m 755 etc/cron.d/keepalived-slave ${BUILD_ROOT}/etc/cron.d/keepalived-slave
	install -m 755 etc/cron.d/keepalived-master ${BUILD_ROOT}/etc/cron.d/keepalived-master

build:
	mkmodulexml < module.def > module.xml
	convert -modulate 50,100,100 keepalived.png down_keepalived.png
binary-indep:

binary-arch binary: build install
	if [ -d debian/tmp ] ; then dh_install --sourcedir=debian/tmp ; fi
	dh_installdocs
	dh_installdeb
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build binary binary-arch binary-indep clean install
